//- about.pug
extends layout

block content
  //- Header Placeholder
  #header 

  main.about-page
    .glass-container.about-box
      h2 About Code Sync
      p
        | Code Sync is a collaborative, real-time code editor designed to enable seamless teamwork. 
        | It allows multiple users to enter a shared room by using a unique room ID, where they can collaborate on code simultaneously. 
        | This platform supports real-time updates, ensuring that changes made by any participant are instantly visible to all others, fostering an efficient and interactive coding experience.
      h3 Features:
      ul
        li Unique room generation with room ID for collaboration
        li Create, open, edit, save, delete, and organize files and folders
        li Code Execution: Users can execute the code directly within the collaboration environment, providing instant feedback and results
        li Group chatting allows users to communicate in real-time
        li Option to download the entire codebase as a zip file

  //- Footer Placeholder
  #footer
    //- JavaScript Files
    script(src="./assets/js/header.js")
    script(src="./assets/js/footer.js")
    script(src='./assets/js/script.js')