//- about.pug
extends layout

block content
  //- Header Placeholder
  #header 

  main.about-page
    .glass-container.about-box
      h2 About News Aggregator
      p
        |we are dedicated to delivering fast, accurate, and unbiased news to millions of readers worldwide. With a team of expert journalists and editors, we cover a wide array of topics from breaking news, politics, technology, entertainment, and more.
        
      p We believe in the power of journalism to shape a more informed society, and we are committed to maintaining the highest standards of truth, transparency, and integrity in all our reporting. Stay informed with us.

      button#learn-more-btn Learn More

  //- Footer Placeholder
  #footer
    //- JavaScript Files
    script(src="./assets/js/header.js")
    script(src="./assets/js/footer.js")
    script(src='./assets/js/script.js')