extends layout

block content
  head
    title Contact Us - News Aggregator
    link(rel='stylesheet', href='/assets/css/style.css')

  body
    #header
    main.contact-page
      section.contact-info
        h2 Contact Us
        p Have any questions, feedback, or need support? Feel free to reach out to us using the form below.

        // Display success message if it exists
        if successMessage
          p(style='color: green;') #{successMessage}

        form.contact-form(action="/contact" method="POST")
          .form-group
            label(for="name") Name:
            input#name(type="text" name="name" placeholder="Your Full Name" required)

          .form-group
            label(for="email") Email:
            input#email(type="email" name="email" placeholder="Your Email" required)

          .form-group
            label(for="message") Message:
            textarea#message(name="message" rows="5" placeholder="Your Message" required)

          .form-group
            button(type="submit") Send Message

      .social-contact
        p You can also reach us on our social platforms:
        ul
          li: a(href="https://twitter.com/YourNewsAggregator" target="_blank") Twitter
          li: a(href="https://facebook.com/YourNewsAggregator" target="_blank") Facebook
          li: a(href="mailto:support@newsaggregator.com") Email: support@newsaggregator.com
