//- dashboard.pug
extends layout

block content
  main.dashboard-page
    aside.sidebar
      ul
        li
          button#newFile.sidebar-btn New File
        li
          button#saveFile.sidebar-btn Save File
        li
          button#openFile.sidebar-btn Open File
        li
          button#deleteFile.sidebar-btn Delete File
        li
          button#runCode.sidebar-btn Run Code
        li
          button#downloadCode.sidebar-btn Download ZIP
        li
          button#chatroomBtn.sidebar-btn Chatroom

    section.editor-section
      textarea#codeEditor(placeholder="Write your code here...")
      div#output.output-box Output will appear here...
