extends layout

block content
  //- Hero Section with Video Background
  main.landing
    #hero
      video#bg-video(autoplay muted loop)
        source(src="https://player.vimeo.com/external/309084256.hd.mp4?s=8fd06162fa41b6d1f83ae5a745960f0104b5c9f2&profile_id=175&oauth2_token_id=57447761", type="video/mp4")
      .glass-container
        h1 Welcome to News Aggregator #{name}
        p Find the latest news here !!
        .buttons
          a.btn(href="/login") Login
          a.btn(href="/register") Register


