//- index.pug
extends layout

block content
  //- Header Placeholder
  

  main.landing
    .glass-container
      h1 Collaborate to Code Sync
      p Join Code Sync for a seamless, real-time collaborative coding experience.
      .buttons
        a.btn(href="/login") Login       
        a.btn(href="/register") Register 
  

  //- JavaScript Files
  script(src="./assets/js/script.js")
