extends layout

block content
  link(rel="stylesheet", href="/assets/css/login.css")

  // Main Registration Form
  main
    .form
      h1.heading Register
      form(action="/register" method="POST")
      input(type="text", placeholder="Name", autocomplete="off", class="name", required)
      input(type="email", placeholder="E-mail", autocomplete="off", class="email", required)
      input(type="number", placeholder="Num", autocomplete="off", class="num", required)
      input(type="password", placeholder="Password", autocomplete="off", class="password", required)
      input(type="date", placeholder="Date of Birth", class="dob", required)
      button.submit-btn Register
      // Alert box for displaying messages
      .alert(style="color: red; margin-top: 10px;") 
      a.link(href="./login") Already have an account? Log in here

  // Footer Section
  
  // Include scripts here
  script(src="./assets/js/header.js")
  script(src="./assets/js/footer.js")
  script(src="./assets/js/reg.js")


