doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Thank You
    link(rel="stylesheet" href="./assets/css/style.css")
    style.
      /* Additional styles specific to thankyou.pug */
      .thank-you-container {
        text-align: center;
        background-color: var(--glass-bg);
        padding: 20px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        max-width: 500px;
        margin: 50px auto;
      }
      .thank-you-container h1 {
        color: green;
        font-size: 2rem;
      }
      .thank-you-container p {
        font-size: 1.2rem;
        margin-top: 10px;
      }
      .checkmark {
        font-size: 4rem;
        color: green;
        margin-bottom: 20px;
      }
      .registration-data {
        text-align: left;
        margin-top: 20px;
      }
      .registration-data ul {
        list-style: none;
        padding: 0;
      }
      .registration-data li {
        margin-bottom: 10px;
      }
  body
    // Header Placeholder
    #header

    main
      .thank-you-container
        .checkmark ✔️
        h1 Thank You!#{email}
        p Subscrption completed successfully.
        #registrationData.registration-data

    // Footer Placeholder
    #footer

    // JavaScript Files
    script(src="./assets/js/script.js")
