

body {
    font-family: 'Arial', 'sans-serif';
    background-color: #f2f6fc;
    height: 100vh; /* Full height of the viewport */
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: rgb(22, 22, 22);
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Main content container */
.content {
    padding-top: 200px;
}

/* About Us Section */
.about-us {
    background-color: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Adjusted width for centering */
    width: 100%;
    margin: 0 auto; /* Centering the about-us section horizontally */
}

/* Flex container for About Us content */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text-section {
    flex: 1;
    padding-right: 0;
}

.text-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.text-section p {
    font-size: 1.1em;
    line-height: 1.8;
    margin-bottom: 30px;
    color: #666;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #3b82f6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2563eb;
}

.image-section {
    flex: 1;
    padding-left: 30px;
    text-align: center;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .text-section, .image-section {
        padding: 0;
        text-align: center;
    }

    .text-section {
        padding-bottom: 20px;
    }
}
