doctype html
html(lang="en")
    head
        title Code Sync
        link(rel='stylesheet', href='./assets/css/style.css')
       
        //- Other head elements can go here

    body
        //- Header Placeholder
        #Usersheader
            //- You can include header content here or through another Pug file

        block content

        //- Footer Placeholder
        #Usersfooter
            //- You can include footer content here or through another Pug file

        //- JavaScript Files
        script(src="./assets/js/header.js")
        script(src="./assets/js/footer.js")
        script(src="./assets/js/script.js")
